<mat-card>
  <mat-card-header>
    <mat-card-title>Project 1</mat-card-title>
    <mat-card-subtitle>AuthorFirst M. AuthorLast</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Project 2</mat-card-title>
    <mat-card-subtitle>AuthorFirst M. AuthorLast</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
