<div>
  <h1>Project Ideas List</h1>
  <hr/>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let pi of pis">
      <mat-grid-tile-header>
        <div>
          <span>Id: {{pi._id}}</span>
          <br/>
          <span>Name: {{pi.name}}</span>
          <br/>
          <span>Author: {{pi.author}}</span>
          <br/>
          <span>Created: {{pi.createdDate}}</span>
        </div>
      </mat-grid-tile-header>
        <span>Description: {{pi.description}}</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
