.card-container {
  perspective: 800px;
  margin: 15px;
}

mat-card-subtitle.mat-h2 {
  margin-bottom: 0px;
}

.solution-card {
  margin-top: 5px;
  perspective: 800px;
  margin: 15px;
}

.comment-card {
  margin-top: 5px;
  perspective: 800px;
  margin: 15px;
}
